.m-h{
  min-height: 100vh;
}

.headering{
  font-family:  'poppins', sans-serif !important;
}

/*navbar baclkground color*/
.bg-blue{
  background-color: #1F2937;
}

/*contact form baclkground color*/
.bg-form {
  background-color: #162a53;
  opacity: .8;
}

.bg-social{
  background-color: #f9eded;
  box-shadow: 5px 5px 5px grey;
}

.margin-top {
  margin-top: 80px;
}

.navbar a {
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  text-decoration: none;
  color: #E5E7EB; /* Default link color */
  line-height: normal; /* Control line height */
  font-family: 'Times New Roman', Times, serif;
}

.sloga{
  color: #E5E7EB;
}

.navbar-collapse {
  overflow: hidden;
}

.hover-link:hover {
  color: #25d366; /* Hover color */
}



.navbar .nav-link.active {
  color: #25d366; /* Active link color */
  text-decoration: none; /* Ensure no underline */
}

/*.nav-link.active {
  color: white !important; /* Force white color for active link */
 /* text-decoration: none; /* Ensure no underline */
/*}*/
.card-body{
  flex-grow: 1;
}

 .card-custom {
            width: 18rem; /* Set a fixed width for the cards */
          }

/*color when hovering social links*/
.text-w{
  color: #25d366;
}

/*social link color*/
.text-orange{
  color: orange;
}


/* li{
  color: #25d366;
} */

/*home styles */

.holder{
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(81, 81, 207, 0.779), rgba(0, 0, 255, 0.3)), url(./Photos/better.webp);
}

.heading {
  color: cyan;
  font-weight: bolder;
}

/*contact page*/

.contact{
  background-image: url(./Photos/contact.webp);
  width: 100%;
}

/*margin on whatsapp */
.whatsapp{
position: fixed;
top: 85%;
left: 87%;
text-align: right;
z-index: 1000;
min-width: 170px;
max-width: 300px;
text-decoration: none;
background-color: #25d366;
padding: 5px 10px;
margin-right: 20px;
border-radius: 10px;
font-size: 16px;
}

.Link{
  text-decoration: none;
}

.cms{
  background-image: url(./Photos/admin.webp);
  width: 100%;
  background-size: cover;
}



.dark-color{
  background-color: blue;
  color: white;
}

.light{
  background-color: white;
  color: black;
}

.logo{
  border-radius: 50%;
}

.header{
  font-family: 'Times New Roman', Times, serif;
}

.font-family{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.active-link {
  color: #25d366;
}





.text{
  text-decoration: none;
  color: #E5E7EB;
  font-family: Jost,sans-serif;
}


.address{
  border-top: 2px solid white;
}
address{
  padding-top: 20px;
}




.copy{
  border-top: 1px solid white;
  margin: 10px 20px;
  padding: 4px 0;
}


@media (max-width: 768px) {
  .footing {
   margin-top: 20px;

  }
}
a{
  text-decoration: none;
}

.text-email{
  color: #9B59B6;
}